  <div class = "container bg-light">
    <h4 class="letter">
        The Chosen Letter Is:
    </h4>
    <p class="letter"><%= @letter %>
      <%= link_to kitchen_utensils_path, class: "letter" do%>
      <i class="fas fa-dice"></i>
      <% end %>
    </p>
  </div>
