<% provide(:title, @workout.name) %>
<div class="row">
  <aside class="col-md-4">
    <%= render partial: 'workouts/workoutshow', locals: {setting: "addcommentyes"}, object: @workout  %>
      <%#= render @workout, setting: "addcommentyes" %>
  </aside>
  <div class="col-md-8">
      <% if @workout.microposts.any? %>
        <h3>#PeopleofTheSpace say (<%= @workout.microposts.count %>)</h3>
        <ol class="microposts">
          <%= render @microposts, setting: "usernameyes" %>
        </ol>
        <%= will_paginate @microposts %>
      <% end %>
    </div>
</div>
