<% provide(:title, "Log in") %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render partial: 'loginform', locals: {pagecaller: "loginpage"}  %>
    <p>New wacker? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
