
/*don't know exactly why but if I left as margined div (ie with position as relative) then gallery disappears (and relative is needed for positioning on homepage)*/
.MarginedDivGallery {margin-left:20%;margin-right:20%;} 

.box {
float: left;
position: relative;
width: 20%;
padding-bottom: 15%;
overflow:visible;
margin-top: 1em;
}

.gallerya {
position: absolute;
left: 3%;
right: 3%;
top: 3%;
bottom: 3%;
overflow: visible;
}


.gallerya img{
display:block;
width:100%;
height:100%;
transition-property:width, height, top, bottom, left, right, z-index;
transition-duration:2s;
position:absolute;
z-index:0.9;
cursor:pointer;
border-radius:25px;
}

.gallerya:hover img{
width:250%;
height:250%;
position:absolute;
box-shadow:0 0 15px 2px #000;
transition-property:width, height, top, bottom, left, right, z-index;
transition-duration:2s;
cursor:default;
z-index:25;

}


@media only screen and (max-width : 480px) {
   /* Smartphone view: 1 tile */
   .box {
      width: 100%;
      padding-bottom: 75%;
   }
   
   .box:nth-child(2n+2):hover gallerya img{
	bottom:0;}
	.box:nth-child(n+15):hover gallerya img{
	bottom:0;}
}
@media only screen and (max-width : 650px) and (min-width : 481px) {
   /* Tablet view: 2 tiles */
   .box {
      width: 50%;
      padding-bottom: 34%;
   }
   .box:nth-child(2n+2):hover .gallerya img{
	right:0;}

	.box:nth-child(n+13):hover .gallerya img{
	bottom:0;}
 }
@media only screen and (max-width : 1050px) and (min-width : 651px) {
   /* Small desktop / ipad view: 3 tiles */
   .box {
      width: 33.3%;
      padding-bottom: 25%;
	    }
	.box:nth-child(3n+3):hover .gallerya img{
	right:0;}

	.box:nth-child(n+7):hover .gallerya img{
	bottom:0;}
}
@media only screen and (max-width : 1290px) and (min-width : 1051px) {
   /* Medium desktop: 4 tiles */
   .box {
      width: 25%;
      padding-bottom: 18.75%;
   }
   .box:nth-child(4n+4):hover gallerya img, .box:nth-child(4n+3):hover .gallerya img{
	right:0;
	}
	.box:nth-child(n+9):hover .gallerya img{
	bottom:0;
	}
   }
   
@media only screen and (min-width : 1291px) {
   /* full power desktop: 5 tiles */
   
	.box:nth-child(5n+5):hover .gallerya img, .box:nth-child(5n+4):hover .gallerya img{
	right:0;}

	.box:nth-child(n+11):hover .gallerya img{
	bottom:0;
	}
   }
