html,body,div,ul,li,h1,h2,h3,h4,h5,h6,p,th,td { 
    margin:0;
    padding:0;
	font-family: "Quicksand", "Arial";
}

  * {
    box-sizing: border-box;
}


  .carousel-indicators {
  	width: 60%;
	bottom:-20px;
	left: 50%;
  	margin-left: -30%;
  	}

	
.carousel-indicators li {
  	width: 10px;
   	height: 10px;
   	border-radius: 50%;
    box-shadow: rgba(0,0,0,0.5) 0 0 2px;
   	cursor: pointer;
	background-color: #635869;
}

.carousel-indicators .active {
  	background-color: #000000;
	}
	

.carousel-controls{
 position:relative; 
  width:200px;
  margin:0 auto;
  bottom:-20px;
}

/*change colour of arrows on next & previous fill='%23fff' to fill='%23000' for black*/
.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M4 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M1.5 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

.carousel-caption {
  position: relative;
  right:0%;
  left:0%;
   color: black;
  /*left:12.5%;*/ /*as image is 75% of div conatiner*/
  /*text-align:left;*/
    bottom: 0px;
   padding-top: 0;
  padding-bottom: 0;
  font-family: "Muli", "Arial";
}

.carousel-fade .carousel-inner .carousel-item {
    transition-property: opacity;
}

.carousel-fade .carousel-inner .carousel-item,
.carousel-fade .carousel-inner .active.carousel-item-left,
.carousel-fade .carousel-inner .active.carousel-item-right {
    opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
    opacity: 1;
}

.carousel-fade .carousel-inner .carousel-item-next,
.carousel-fade .carousel-inner .carousel-item-prev,
.carousel-fade .carousel-inner .active.carousel-item-left,
.carousel-fade .carousel-inner .active.carousel-item-right {
    left: 0;
    transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
    z-index: 2;
}

.attender {
	border-radius:1.5em;
   position:relative;
	right: 0;
	background-color: #635869; /*dark purple*/
	border-style: solid;
    border-color: white;
}

.renter {
	border-radius:1.5em;
    position:relative;
	left: 0;
	background-color: #635869; /*dark purple*/	
	border-style: solid;
    border-color: white;
   
}

.welcome {
	width:10%;
	visibility: hidden;
	}

@media (min-width: 576px) {
	.attender {
	position:absolute;
	
	}
	
	.renter {
	position:absolute;
	}
	
	.welcome {
	width:80%;
	visibility: visible;
	}
}

@media (min-width: 768px){
	.welcome {
	width:70%;
	visibility: visible;
	}
}

@media (min-width: 992px) {
	.welcome {
	width:60%;
	visibility: visible;
	}
}

@media (min-width: 1200px) {
	.welcome {
	width:50%;
	visibility: visible;
	}
}


.jumbotron {
  padding: 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background-color: #eceeef;
  border-radius: 0.3rem;
  text-align: center;
}

.btnhome {
	border-radius:1.5em;
 	background-color: #635869; /*dark purple*/
	border-style: solid;
    border-color: white;
}

 #powered_by_cws {
visibility:hidden;
margin: 0 !important;

  }

 #cws_google_reviews {
	 font-size: 0.5em !important;
	 margin-top: 1em;
 }
	 

