

.TimetableTable {
   background-color: #dddddd;
   border-spacing: 0;
   border-top-right-radius: 0.6em;
   border-top-left-radius: 0.6em;
   font-size: 1em;
   color: #707070;
   font-weight:bold;
   font-family: "Muli", "Arial";
   margin-left:0;
   margin-top:-0.5em;
   margin-bottom:2.5em;
   text-align:center;
   width:100%;
   position:relative;
  }
  
   @media (max-width: 768px) {
	.TimetableTable {
    font-size: 0.6em;
	}
 }
    
 .TimetableTable tr:hover {background-color: white}
 
 .TimetableTable td {
	 position:relative; /*DPS added June 2019 so symbol could be paced in bottom corner of data cell */
	 width:15%; 
 }
 
  .Basement, .Basement:hover {
  color: #707070;
  text-decoration: none;
 }
 
 .Garden, .Garden:hover {
  color:#18b413;
  text-decoration: none;
 }
 
 .Firstfloor, .Firstfloor:hover {
  color:#4fc2d6;
  text-decoration: none;
 }
 
 .Instructor {
 font-size: 0.8em;
 font-weight:normal;
 }
 
 .Unimportant  {
	 display:none;
  }
  
  @media (min-width: 576px) {
	.Unimportant  {
	display:none;
	}
  }

  @media (min-width: 768px) {
	.Unimportant  {
	display:none;
	}
  }

  @media (min-width: 992px) {
	.Unimportant  {
	display:inline;
	}
  }

  @media (min-width: 1200px) {
	.Unimportant  {
	display:inline;
	}
  }
  
   .VUnimportant  {
	 display:none;
  }
  
  @media (min-width: 576px) {
	.VUnimportant  {
	display:inline;
	}
  }

  @media (min-width: 768px) {
	.VUnimportant  {
	display:inline;
	}
  }

  @media (min-width: 992px) {
	.VUnimportant  {
	display:inline;
	}
  }

  @media (min-width: 1200px) {
	.VUnimportant  {
	display:inline;
	}
  }

  @media (max-width: 992px) {
  .container {
    padding-right: 2px;
    padding-left: 2px;
  }
}

 @media (max-width: 576px) {
  .TimetableTable td , .TimetableTable th{
    padding-right: 0;
    padding-left: 0;
  }
}

.btn-TimeTable {
  white-space: normal;
  line-height: 1.25;
  padding-top: 0;
  padding-bottom: 0;
  font-size:0.9em;
  border-radius: 0.25rem;
  background-color: white;
  color:#635869;
  border-color: #635869;
}

.btn-TimeTable:hover  {
  color: #fff;
  background-color: #31b0d5;
  border-color: #2aabd2;
}

.Gardenbtn {
  color:#18b413;
  text-decoration: none;
 }
 
 .btn-TimeTable:hover .Gardenbtn {
  color: #fff;
 }
 
 .listgroup-Timetable {
   display:block;
   padding-left: 0;
   margin-bottom: 0;
}

 .listitem-Timetable {
  position: relative;
  display: block;
  margin-bottom:1px;
  font-size: 12px;
    }
	
	@media (min-width: 576px) {
		
	.listgroup-Timetable {
		margin-bottom: 0.5rem;
	}
	.listitem-Timetable{
	position: relative;
	display: inline;
	margin-bottom:0px;
	font-size: 14px;
  }
}

.Circle {
  display:inline-block;
  border-radius: 50%;
  width:10px;
  height:10px;
 }
 
 
 
 .Grey {
  background-color: #707070;
  color: #dddddd;
 }
 
 .Green {
  background-color: #18b413;
  color: #dddddd;
 }
 
 .Blue {
  background-color: #4fc2d6;
  color: #dddddd;
   }
   
  .White {
  /*background-color: #fff;*/
  background-color: #A9A9A9;
 /*  border: 1px solid  black;*/
  /*  color: #dddddd;*/
	border-radius: 0;
   }
   
   #btnScreenSize {
	display:inline;
}

 @media (min-width: 992px) {
	#btnScreenSize  {
	display:none;
	}
  }
  
   #clickClass {
	display:none;
}

 @media (min-width: 992px) {
	#clickClass  {
	display:inline;
	}
  }
  
  .testicon {
	  position:absolute;
	  bottom:0;
	  right:0;
	  width:10px;
	  height:10px;
	  background:green;
  }
 
 
