<h1>New Scheduling</h1>

<div class="container bg-light px-1 mt-3">
   <div class="row bg-light py-1 mx-0">
    <div class ="col-12">
       <section class="mt-1">
         <%= render partial: 'schedulings/form', locals: {setting: "new"} %>
       </section>
    </div>
  </div>
</div>

<%= link_to 'Back', schedulings_path %>
