var sched_cal = document.getElementsByClassName("sched_cal");
n = sched_cal.length;
for (var i = 0; i <n; i++) {
  sched_cal[i].innerHTML = "<%= escape_javascript(render partial: 'shared/calendar', locals: {calendar_type: 'm'}) %>";
}

var sched_table = document.getElementsByClassName("sched_table");
n = sched_table.length;
for (var i = 0; i <n; i++) {
  sched_table[i].innerHTML = "<%= escape_javascript(render partial: 'schedule_table') %>";
}

<% flash.each do |type, message| %>
  $('#flash_messages').html("<div class='alert alert-<%= type %>' ><%= message.html_safe %></div>")
<% end %>
