<h2>Scheduled Wacks</h2>

<div class="container bg-light px-1 mt-3">
   <div class="row bg-light py-1 mx-0">
    <div class ="col-12">
         <%= render partial: 'form', locals: {form_setting: 'sch_index'} %>
    </div>
  </div>
</div>

<div class="sched_cal">
<%= render partial: 'shared/calendar/schedule_calendar', locals: {cal_days: 28} %>
</div>

<div class="sched_table">
<%= render partial: 'shared/calendar/schedule_table' %>
</div>
