<h2>Scheduled Workouts</h2>

<div class="container bg-light px-1 mt-3">
   <div class="row bg-light py-1 mx-0">
    <div class ="col-12">
       <section class="mt-1">
         <%= render partial: 'form', locals: {setting: 'sch_index'} %>
       </section>
    </div>
  </div>
</div>

<div class="sched_cal">
<%= render partial: 'shared/calendar/calendar', locals: {calendar_type: 'm', linked_from: :schedulings} %>
</div>
<div class="sched_table">
<%= render partial: 'schedule_table', locals: {linked_from: :schedulings} %>
</div>
